.fikr-title {
    font-size: 40px;
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
}

.fikr-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); */
    gap: 30px;
  
    cursor: pointer;
}

.fikr-card {
    & h3 {
        font-size: 25px;
        padding-top: 20px;
    }

    & p {
        color: gray;
        padding: 15px 0;
        font-size: 20px;
    }
}

.fikr-card-item {
    /* background-color: gray; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgb(214, 196, 196) 0px 0px 10px;

    & video {
        width: 100%;
        max-height: 420px;
        object-fit: fill;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .fikr-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }

    .fikr-card-item{
        & video{
            min-height: 400px;
            max-height: 500px;
        }
    }
}

@media screen and (max-width: 890px) {
    .fikr-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .fikr-card-item{
        & video{
            min-height: 400px;
            max-height: 600px;
        }
    }
}

@media screen and (max-width: 520px) {
    .fikr-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }

    .fikr-card-item{
        & video{
            max-height: 640px;
        }
    }
}

@media screen and (max-width:768px) {
    .fikr-title {
        font-size: 30px;
        padding: 40px;
        padding-bottom: 20px;
    }
}