.about-title {
    font-size: 40px;
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
}
.about-card{
    padding: 30px;
}
.card-title {
    width: 95%;
    font-family: SF Pro Display;
    font-size: 37px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.592063px;
    text-align: left;
    background: linear-gradient(278.99deg, rgb(255, 2, 2) 25.32%, rgb(165, 3, 5) 105%) text;
    color: transparent;
}
.card-text {
    width: 98%;
    font-family: SF Pro Display;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.783355px;
    text-align: left;
    color: rgb(68, 68, 68);
}
@media screen and (max-width:990px) {
    .card-img{
        width: 80%;
    }
    .card-title{
        font-size: 30px;
        line-height: 35px;
    }
    .card-text{
        font-size: 15px;
        line-height: 20px;
    }
    
}
@media screen and (max-width:768px) {
   .about-card{
    border: 1px solid gray;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: rgb(164, 158, 158) 0px 0px 10px;
    text-align: center;
   }
   hr{
    display: none;
   }
   .card-img{
    width: 20%;
   }
   .card-title{
    text-align: center;
    padding-bottom: 20px;
   }
   .card-text{
    text-align: center;
   }
    .about-title{
        font-size: 30px;
        padding: 40px;
        padding-bottom:20px;
    }
}