.nav {
    border-bottom: 1px solid #856869;
    backdrop-filter: blur(3px);
    padding: 20px 0px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.nav.scrolled {
    box-shadow: 0px 1px 5px rgba(76, 28, 28, 0.7);
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.menu,
.menu-btn {
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 20px;
    color: black !important;
}

.hamburger-menu-item {
    color: black !important;
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.navlink-item {
    color: black;
}

.nav-item:nth-child(1) {
    padding: 0;
}

.nav-img {
    width: 150px;
}

.nav-btn {
    background: linear-gradient(278.99deg, rgb(244, 16, 16) 30.32%, rgb(198, 2, 5) 100%);
    padding: 12px 20px;
    font-family: "DM Sans";
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.nav-btn:hover {
    box-shadow: rgb(198, 2, 5) 0px 0px 10px;
}

.sidebar-menu {
    display: none;
}

@media screen and (max-width:810px) {

    .menu,
    .menu-btn {
        display: none;
    }

    .sidebar-menu {
        display: block;
        margin-top: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 330px) and (max-width: 600px) {
    .ant-drawer-content-wrapper {
        width: 250px !important
    }
}