* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1250px;
}
.active{
  color: #C60205;
}
:root {
  --main-color: #C60205; 
  --main-font:SF Pro Display;
}
a{
  color:black;
}
main {
  margin-top: 85px;
}
