* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1250px;
}
.active{
  color: #D09324 !important;
}
:root {
  --main-color: #C60205; 
  --main-font:SF Pro Display;
}