@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
   /* font-family: "Inter", sans-serif; */
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1250px;
}
.active{
  color: #C60205;
}
:root {
  --main-color: #C60205; 
  --main-font:SF Pro Display;
}
a{
  color:black;
}
main {
  margin-top: 85px;
}

@media screen and (max-width:600px) {
  .container{
    width: 90%;
  }
  
}